article.post {
	/*border: 1px solid black;*/
	min-height: 10vh;
	margin-top: 1em;
}

article.post > div {
	margin: 1em;
}

article.post > div > div {
	display: flex;
	align-items: center;
}

article.post > div > div > span {
	flex: 1 0 0;
}

article.post > div > div > h3 {
	flex: 9 0 0;
	margin-left: .4vw;
}

article.post h3 {
	display: inline;
}

article.post > .post-info, article.post > .post-actions {
	display: flex;
}

article.post > .post-info > div {
	margin: 0 1vw;
}


.post-heading {

}

.post-heading > h1 {
	
}

.post-create-area {
	/*border: 1px solid black;*/
	min-height: 60vh;
	margin: 0 auto;
}

.post-create-area > div {
	margin: 1em;
}

.post-create-area label {
	
	opacity: 0.5;
	font-size: 22px;
}

.flex-wrapper {
	width: 30%;
	display: flex;
}

.flex-wrapper > label {
	flex: 1;
}


.post-create-area input[type="text"] {
	padding: .2em;
	border: none;
	font-size: 22px;
	opacity: 0.4;
}

.post-create-area textarea {
	padding: .2em;
	border: none;
	opacity: 0.4;
}

.post-create-area input[type="text"]:focus, .post-create-area textarea:focus {
	outline: 0;
	opacity: 1;
}

.post-create-errors {
	width: 30%;
	padding: 1em;
}

.post-create-errors > ul {
	list-style-position: inside;
	list-style-type: none;
	list-style-image: url('/svg/error.png');
}

.post-create-errors li {
	padding: 1em;
}

.post-actions-like {
	height: 32px;
   	width: 32px;
	background: url('/svg/like-option.png');
}

.post-actions-like:hover {
	cursor: pointer;
	background: url('/svg/like-option-hover.png');
}

.post-actions-dislike {
	height: 32px;
   	width: 32px;
	background: url('/svg/dislike-option.png');
	margin-left: 2vw;
}

.post-actions-dislike:hover {
	cursor: pointer;
	background: url('/svg/dislike-option-hover.png');
}

.post-actions-comment {
	height: 32px;
   	width: 32px;
	background: url('/svg/comment-option.png');
	margin-left: 4vw;
}

.post-actions-comment:hover {
	cursor: pointer;
	background: url('/svg/comment-option-hover.png');
}

.post-actions-like-disabled {
	height: 32px;
   	width: 32px;
	background: url('/svg/like-option.png');
}

.post-actions-like-disabled:hover {
	cursor: not-allowed;
}

.post-actions-dislike-disabled {
	height: 32px;
   	width: 32px;
	background: url('/svg/dislike-option.png');
	margin-left: 2vw;
}

.post-actions-dislike-disabled:hover {
	cursor: not-allowed;
}


